/*
Color Palette
Satin Sheen Gold: #C59849
Maximum Red: #D62828
Black Coffee: #483D3F
Snow: #FCF7F8
Green: #134611
vegasGold: #ede7d9
white: #fff
black: #000  
*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); 

body {
    background-image: linear-gradient(to bottom, #C59849, #FFD700, #a67c00, #bf9b30, #ffbf00, #ffcf40,#ffdc73);
}

header {
    background-image: url("assets/Tree.png");
    margin: 30px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    text-shadow: .5px .5px white;   
}

.chineseNewYear {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #D62828;
    border: 1px solid green;
    border: 15px solid green;
    margin: 20px;
}

.chineseNewYearI {
    position: relative;
    text-align: center;
    color: white;
}

.KFC {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #134611;
    border: 1px solid red;
    border: 15px solid red;
    margin: 20px;
}

.KFCI {
    position: relative;
    text-align: center;
    color: white;
}

.Italy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #D62828;
    border: 1px solid green;
    border: 15px solid green;
    margin: 20px;
}

.ItalyI {
    position: relative;
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    color: #ede7d9;
    margin: 10rem 0;
    border-top: 1px solid #a27e8e;
    background-image: url("assets/Snow.jpg");
}

.copyright {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #ede7d9;
    display: block;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color:#FFF; 
    text-decoration:none; 
    cursor:pointer;  
}