/*
Color Palette
Satin Sheen Gold: #C59849
Maximum Red: #D62828
Black Coffee: #483D3F
Snow: #FCF7F8
Green: #134611
vegasGold: #ede7d9
white: #fff
black: #000  
*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); 

body {
    background-image: linear-gradient(to bottom, #C59849, #FFD700, #a67c00, #bf9b30, #ffbf00, #ffcf40,#ffdc73);
}

header {
    background-image: url("assets/Tree.png");
    margin: 30px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    text-shadow: .5px .5px white;   
    margin-bottom: 5rem;
}

.chineseNewYear {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #D62828, #000);
    border: 1px solid green;
    border: 15px solid green;
    margin: 20px;
}

.chineseNewYear img {
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
    height: auto;
}

.KFC {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #134611, #000);
    border: 1px solid red;
    border: 15px solid red;
    margin: 20px;
    color: #fff;
}

.KFC p {
    color: #fff;
}

.KFC img {
    position: relative;
    text-align: center;
    color: white;
    width: 25%;
    height: auto;
}

.Italy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #D62828, #000);
    border: 1px solid green;
    border: 15px solid green;
    margin: 20px;
}

.Italy img {
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
    height: auto;
}

footer {
    text-align: center;
    background-image: url("assets/Snowflake.gif");
}

footer p {
    animation: animate 5s linear infinite;
    color: white;
}

.copyright {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: block;
}

.chineseNewYear a {
    text-decoration: none;
    color: #000;
}

.chineseNewYear a:hover {
    color:#FFF; 
    text-decoration:none; 
    cursor:pointer;  
}

.KFC a {
    text-decoration: none;
    color: #FFF;
}

.KFC a:hover {
    color:#000; 
    text-decoration:none; 
    cursor:pointer;  
}

.Italy a {
    text-decoration: none;
    color: #000;
}

.Italy a:hover {
    color: #FFF; 
    text-decoration:none; 
    cursor:pointer;  
}

#copyright a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

#copyright a{
    animation: animation 15s linear infinite;
}

#copyright {
    animation: animation 15s linear infinite;
}

footer a {
    color: #fff; 
    text-decoration:none; 
}

footer a:hover {
    color: #660000; 
    text-decoration:none; 
    cursor:pointer;  
}

@media (min-width: 1200px) {
    body {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .KFCcontent {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    }
    
    .KFC p {
        padding: 2rem;
    }

    .KFC img {
    height: auto;
    width: 25%;
    }
    
    .Italycontent {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    }
    
    .Italy p {
        padding: 2rem;
    }
    
    .Italy img {
    height: auto;
    width: 15%;
    }
    
    .Chinesecontent {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    }
    
    .chineseNewYear p {
        padding: 2rem;
    }
    
    .chineseNewYear img {
    height: auto;
    width: 25%;
    }
    
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.9;
    }
    
    50% {
        opacity: 0.7;
    }
    
    75% {
        opacity: 0.5;
    }
  
    100% {
        opacity: 0;
    }
        
}

@keyframes animation {
    0% {
        color: #BDB76B;
    }
    
    10% {
        color: #FFFF00;
    }
    
    20% {
        color: #FFD700;
    }
    
    30% {
        color: #FFFFE0;
    }
    
    40% {
        color: #FFFACD;
    }
  
    50% {
        color: #FAFAD2;
    }
    60% {
        color: #FFEFD5;
    }
    
    70% {
        color: #FFE4B4;
    }
    
    80% {
        color: #FFDAB9;
    }
    
    90% {
        color: #EEE8AA;
    }
  
    100% {
        color: #F0E68C;
    }
        
}










